/* ======= Geral =======*/
#about {
    background-color: var(--color-bg);
    height: 91vh;
    padding-top: 1.5rem;
    overflow: hidden;
}

.about-content {
    height: 100%;
    width: 140vh;
    margin: 0 auto; 
    max-width: 80%;
}

.bg {
    background-color: #ffffff59;
    height: 85vh;
    border-radius: 40px;
    padding: 10px;
}

/* =========== my-skills ========== */

.my-skills {
    display: inline;
    align-items: center;
    text-align: center;
}

h4 {
    font-size: 28px;
    padding: 10px;
}

.skills {
    display: flex;
    justify-content: center;
}

.btn-hard-skills,
.btn-soft-skills,
.skills p {
    font-size: 19px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.active {
    text-decoration: underline solid 1px;
}

.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 20px;
}

/* ======= About me ======= */

.class {
    width: 320px;
    height: 250px;
    border-radius: 20px;
    margin: 20px;
}

.resume h4 {
    text-align: center;
    margin: 0.5rem;
}

.resume p {
    text-align: justify;
    font-size: 17px;
    line-height: 1.5;
}