

.header {
    background-color: #0B0A0A;
    color: #f7f7f7;
}

.navbar {
    height: 4.5rem;
    width: 140vh;
    margin: 0 auto; 
    max-width: 80%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 2.5rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    padding: 0.7rem;
}

.desktopMenuListItem:hover {
    border: 1px solid #fff;
    border-radius: 20px;
}

.btn-language {
    color: #f7f7f7;
    font-size: 1.6rem;
    margin: 1.45rem;
    background-color: transparent;
    border: none;
    padding: 0;
}

.active {
    border: none;
    border-radius: 20px;
    background-color: var(--color-bg);
}