#projects {
  height: auto;
}

#projects .content {
  background-color: #ffffff;
  width: 140vh;
  max-width: 1170px;
  margin: 0 auto;
}

#projects h2 {
  padding: 1.7rem;
  font-size: 2em;
  text-align: center;
}

.carousel {
  margin: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  max-height: 620px;
  margin: auto 0.8rem;
  text-align: center;
} 

#projects img {
  width: 100%;
  height: 13em;
  object-fit: cover;
}

#projects h3 {
  text-align: center;
  margin: 0.7em;
}

#projects p {
  text-align: justify;
  margin: 0 1em;
  height: 90px;
  line-height: 1.5;
}

.icon {
  font-size: 3em;
  color: rgb(0, 0, 5);
}

.icons-dev i {
  display: flex;
  margin: 2.5em 0 1em 0;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: center;
}

.icon-project {
  font-size: 28px;
}

.link {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

#projects a {
  margin: 0 0.7em;
  border: none;
  padding: 10px;
  color: white;
  background-color: #d66666;
  cursor: pointer;
  font-size: 18px;
  border-radius: 7px;
}

#projects a:hover {
  background-color: #000;
}

.react-multi-carousel-dot-list {
  display: none !important;
}

.links-card {
  margin: 10px;
  padding: 10px;
}

/* ========== Responsiveness =========== */

/* =========== PC ================== */
@media screen and (min-width: 1180px) and (min-height: 799px) {
  #projects h2 {
    padding: 3rem;
  }

  #projects img {
    height: 15em;
  }
}

/* =========== Tablet ================== */
@media screen and (max-width: 1024px) {

  #projects h2 {
    padding: 4rem;
    font-size: 2.8em;
  }

  #projects img {
    height: 15em;
  }

  .react-multi-carousel-item {
    margin: 4em 0;
  }

  #projects .content {
    max-width: 700px;
  }

}


/* Cel */
@media screen and (max-width: 600px) {
  #projects h2 {
    padding: 2em 0 0 0;
    font-size: 30px;
  }

  #projects img {
    height: 15em;
  }

  .icons-dev {
    display: none;
  }

  .links-card {
    margin: 100px 0 30px 0;
  }

  .react-multi-carousel-item {
    margin: 0.5em 0;
  }

  #projects .content {
    max-width: 300px;
  }
  
}