#footer {
    background-color: var(--main-color-bg);
    height: 10vh;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: antiquewhite;
}

.icons-contact {
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.container-footer svg {
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
}