* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  outline: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

:root {
  --nav-color: #0B0A0A;
  --nav-active-color: #8D1616;
  --text-white: #fff;
  --text-black: #000;
  --main-color-bg: #8D1616;
  --main-bg-home: #f5dddd;

  --html-color: #E44D26; 
  --css-color: #264DE4; 
  --js-color: #F0DB4F; 
  --react-color: #61DAFB; 
  --figma-color: #F24E1E; 
  --bootstrap-color: #563D7C; 
  --git-color: #F05032; 
  --github-color: #181717; 
  
  /* Font family */
}

.content {
    height: 100%;
    width: 140vh;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto 2em auto;
}

/* Icons */
.icon-dev {
  font-size: 3em;
}

.html {
  color: #E44D26;
}

.css {
  color: #264DE4;
}

.js {
  color: #dbc21d;
}

.react {
  color: #61DBFB;
}

.figma {
  color: #F24E1E;
}

.bootstrap {
  color: #7952B3;
}

.git {
  color: #F05032;
}

.github {
  color: #181717;
}

.writing {
  color: #5f00f8;
}

.teaching {
  color: #8b0d61;
}


/* ============== Tablet ============= */
@media screen and (max-width: 1024px) {
  .content {
    max-width: 700px;
  }
}

/* ============== Cellphone ============= */
@media screen and (max-width: 600px) {
  .content {
    max-width: 300px;
  }
}